@import "./_utils.scss";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Gilda+Display&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap");
$superBlack: #000;
$supremeWhite: #fff;
$strange-black: #191919;
$strange-white: #f4f4f4;
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
/*---Header---*/
.header {
  background-color: $superBlack;
  @include displayFlex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.bg-black {
  background-color: $superBlack;
}

.header h1 {
  color: $supremeWhite;
}

.style-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  @include displayFlex;
}

.style-list a {
  color: $supremeWhite;
  @include displayFlex;
  justify-content: space-between;
  text-decoration: none;
}

.style-list li {
  margin-right: 20px;
}

/*---Main index---*/
.history-body {
  background-color: $strange-black;
}

.banner {
  margin: 40px;
  @include displayFlex;
  justify-content: center;
}
.banner img {
  width: 60%;
  height: auto;
}

.history-title {
  color: $strange-white;
  margin: 40px;
  font-size: 35px;
  text-align: center;
}

.content img {
  margin: 10px;
  padding: auto;
  max-width: 70%;
  height: auto;
}

.content {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  width: 100%;
  @include displayFlex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  text-align: justify;
  line-height: 1.6;
  padding: 20px;
}

h2 {
  margin: 40px;
  font-size: 35px;
  text-align: center;
}

.history-text {
  color: $strange-white;
  margin-top: 30px;
}

/*---Tripulación---*/
.main {
  @include displayFlex;
  flex-direction: column;
  align-items: center;
}

.main section {
  width: 80%;
  max-width: 800px;
  margin: 20px 0;
  text-align: center;
}

.main img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.main p,
.main figcaption {
  font-size: 22px;
  text-align: justify;
  margin: 0 auto 20px;
  line-height: 1.6;
  max-width: 600px;
  line-height: 1.6;
  padding: 20px;
}

.text-justity {
  text-align: justify;
}

/*---Galería---*/
.galeria {
  @include displayFlex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.galeria img {
  max-height: 500px;
  object-fit: cover;
}

/*---Frutas del Diablo---*/
.frutas-main {
  @include displayFlex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

section,
.frutas_banner,
.contenedor_frutas {
  max-width: 800px;
  width: 100%;
  text-align: center;
}

.contenedor_frutas img,
section img,
.frutas_banner img {
  max-width: 100%;
  height: auto;
  margin-top: 30px;
}

.clasifi-frutas {
  padding: 30px;
}

.frutas-p {
  padding-bottom: 30px;
}

.zoan-title {
  padding-top: 35px;
}

.logia-title {
  padding-top: 35px;
}

.styles-text {
  font-size: 22px;
  text-align: justify;
  line-height: 1.6;
}

/*Capítulos*/

.card {
  height: auto;
  bottom: 0px;
  transition: all 0.2s;
}

.card:hover {
  bottom: 10px;
  transition: 0.2s;
}

.w-full {
  width: 100%;
}

/*---Footer---*/
.footer {
  background-color: $superBlack;
  padding: 40px;
}

ul {
  padding: 0 !important;
}
.menu {
  @include displayFlex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.menu-elem {
  list-style: none;
}

.menu-icon {
  color: $supremeWhite;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  margin: 5px 10px;
  opacity: 0.65;
  transition: 0.3s;
}

.menu-icon:hover {
  opacity: 1;
}

.text {
  color: $supremeWhite;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 20px;
  opacity: 0.75;
}
